.breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.breadcrumb a:last-child {
    pointer-events: none;
}

.breadcrumb a:last-child {
    color: #000;
}

.breadcrumb a:last-child .link-icon {
    display: none;
}