.nemo-radio-button {
    display: block;
    position: relative;
    cursor: pointer;
}

.nemo-radio-button .nemo-radio-button_control {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 2px solid rgba(226, 228, 230, 0.77);;
    margin: 0;
    inset: 0px;
    position: absolute;
    opacity: 0;
}

.nemo-radio-button--16 {
    width: 16px;
    height: 16px;
}

.nemo-radio-button--24 {
    width: 24px;
    height: 24px;
}

.nemo-radio-button--32 {
    width: 32px;
    height: 32px;
}

.nemo-radio-button_indicator {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(226, 228, 230, 0.77);
    border-radius: 100%;
    box-sizing: border-box;
}



.nemo-radio-button_indicator:hover  {
    background: rgba(226, 228, 230, 0.77);
    border: 2px solid rgba(226, 228, 230, 0.77);
}

.nemo-radio-button_control:checked ~ .nemo-radio-button_indicator {
    background: #015CFF;
    border: none;
}

.nemo-radio-button_control:disabled ~ .nemo-radio-button_indicator {
    background: #D3D5D7;
    border: none;
    cursor: default;
}

.nemo-radio-button_control:checked ~ .nemo-radio-button_indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
}

.nemo-radio-button--16 .nemo-radio-button_control:checked ~ .nemo-radio-button_indicator::after {
    width: 6px;
    height: 6px;
}

.nemo-radio-button--24 .nemo-radio-button_control:checked ~ .nemo-radio-button_indicator::after {
    width: 10px;
    height: 10px;
}

.nemo-radio-button--32 .nemo-radio-button_control:checked ~ .nemo-radio-button_indicator::after {
    width: 14px;
    height: 14px;
}

