/* Подключаем шрифты */
@font-face {
    font-family: 'Golos-Text';
    src:
        url("./fonts/Golos-Text_Regular.woff2") format("woff2"),
        url("./fonts/Golos-Text_Regular.woff") format("woff"),
        url("./fonts/Golos-Text_Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos-Text';
    src:
        url("./fonts/Golos-Text_Medium.woff2") format("woff2"),
        url("./fonts/Golos-Text_Medium.woff") format("woff"),
        url("./fonts/Golos-Text_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos-Text';
    src:
        url("./fonts/Golos-Text_Bold.woff2") format("woff2"),
        url("./fonts/Golos-Text_Bold.woff") format("woff"),
        url("./fonts/Golos-Text_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0px;
}

/* Определяем главную переменную */
:root {
    --font-family: 'Golos-Text', -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    --constants-gray-900: #000000;
    --constants-gray-800: #101010;
    --constants-gray-700: #1F1F1F;
    --constants-gray-600: #3D3D3E;
    --constants-gray-500: #797A7B;
    --constants-gray-400: #B5B7B8;
    --constants-gray-300: #D3D5D7;
    --constants-gray-200: #E2E4E6;
    --constants-gray-100: #F1F3F5;
    --constants-gray-0: #FFFFFF;
    --constants-blue-900: #014DD1;
    --constants-blue-800: #0155E6;
    --constants-blue-700: #015CFF;
    --constants-blue-600: #2172FE;
    --constants-blue-500: #4186FE;
    --constants-blue-400: #619AFE;
    --constants-blue-300: #80AEFE;
    --constants-blue-200: #C0D7FF;
    --constants-blue-100: #D0E1FF;
    --constants-blue-0: #E0EBFF;
    --constants-red-900: #802011;
    --constants-red-800: #C0301A;
    --constants-red-700: #FF4022;
    --constants-red-600: #FF583E;
    --constants-red-500: #FF705A;
    --constants-red-400: #FF8876;
    --constants-red-300: #FFA091;
    --constants-red-200: #FFB8AD;
    --constants-red-100: #FFD0C8;
    --constants-red-0: #FFE8E4;
    --constants-orange-900: #E39101;
    --constants-orange-800: #EF9801;
    --constants-orange-700: #FA9F01;
    --constants-orange-600: #FBAB21;
    --constants-orange-500: #FCB741;
    --constants-orange-400: #FDC361;
    --constants-orange-300: #FDCF80;
    --constants-orange-200: #FEDBA0;
    --constants-orange-100: #FEE7C0;
    --constants-orange-0: #FEE9C6;
    --constants-yello-900: #D0B519;
    --constants-yello-800: #E5C71B;
    --constants-yello-700: #FCDB1E;
    --constants-yello-600: #FDE03B;
    --constants-yello-500: #FDE457;
    --constants-yello-400: #FEE973;
    --constants-yello-300: #FEED8F;
    --constants-yello-200: #FFF2AB;
    --constants-yello-100: #FFF6C7;
    --constants-yello-0: #FFFBE3;
    --constants-lime-900: #44B901;
    --constants-lime-800: #4BCC01;
    --constants-lime-700: #52E001;
    --constants-lime-600: #7DE740;
    --constants-lime-500: #92EB60;
    --constants-lime-400: #A7EE7F;
    --constants-lime-300: #BDF29F;
    --constants-lime-200: #D2F5BE;
    --constants-lime-100: #E7F9DD;
    --constants-lime-0: #F2FBED;
    --constants-teal-900: #01CB81;
    --constants-teal-800: #01DF8E;
    --constants-teal-700: #21E39D;
    --constants-teal-600: #41E7AB;
    --constants-teal-500: #61EBB9;
    --constants-teal-400: #80EFC7;
    --constants-teal-300: #A0F3D5;
    --constants-teal-200: #C0F7E3;
    --constants-teal-100: #E0FBF1;
    --constants-teal-0: #F0FDF8;
    --constants-cyan-900: #01A1BA;
    --constants-cyan-800: #01B1CD;
    --constants-cyan-700: #01C3E1;
    --constants-cyan-600: #01D6F7;
    --constants-cyan-500: #41E1F9;
    --constants-cyan-400: #80EBFB;
    --constants-cyan-300: #A0F0FC;
    --constants-cyan-200: #C0F5FD;
    --constants-cyan-100: #E0FAFE;
    --constants-cyan-0: #F0FDFF;
    --constants-indigo-900: #7060D3;
    --constants-indigo-800: #7B6AE8;
    --constants-indigo-700: #8775FF;
    --constants-indigo-600: #9687FF;
    --constants-indigo-500: #A598FF;
    --constants-indigo-400: #C3BAFF;
    --constants-indigo-300: #D2CCFF;
    --constants-indigo-200: #E1DDFF;
    --constants-indigo-100: #E9E6FF;
    --constants-indigo-0: #F0EEFF;
    --constants-violet-900: #9F46D3;
    --constants-violet-800: #AF4DE8;
    --constants-violet-700: #C155FF;
    --constants-violet-600: #D180FF;
    --constants-violet-500: #E0AAFF;
    --constants-violet-400: #E8C0FF;
    --constants-violet-300: #F0D5FF;
    --constants-violet-200: #F4E0FF;
    --constants-violet-100: #F8EAFF;
    --constants-violet-0: #FCF5FF;
    --constants-fuschia-900: #D34DC1;
    --constants-fuschia-800: #E855D4;
    --constants-fuschia-700: #FF5DE9;
    --constants-fuschia-600: #FF72EC;
    --constants-fuschia-500: #FF86EF;
    --constants-fuschia-400: #FF9AF2;
    --constants-fuschia-300: #FFAEF4;
    --constants-fuschia-200: #FFC3F7;
    --constants-fuschia-100: #FFD7FA;
    --constants-fuschia-0: #FFEBFD;
    --constants-pink-900: #D32968;
    --constants-pink-800: #E82D72;
    --constants-pink-700: #FF327D;
    --constants-pink-600: #FF669E;
    --constants-pink-500: #FF80AE;
    --constants-pink-400: #FF99BE;
    --constants-pink-300: #FFB3CF;
    --constants-pink-200: #FFCCDF;
    --constants-pink-100: #FFE6EF;
    --constants-pink-0: #FFF3F7;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}


.font {
    font-family: var(--font-family);
    font-style: normal;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.promo1 {
    font-size: 56px;
    line-height: 64px;
}

.promo2 {
    font-size: 48px;
    line-height: 56px;
}

.promo3 {
    font-size: 40px;
    line-height: 48px;
}

.promo-4 {
    font-size: 34px;
    line-height: 40px;
}

.header1 {
    font-size: 32px;
    line-height: 40px;
}

.header2 {
    font-size: 28px;
    line-height: 36px;
}

.header3 {
    font-size: 20px;
    line-height: 24px;
}

.header5 {
    font-size: 20px;
    line-height: 24px;
}

.header6 {
    font-size: 16px;
    line-height: 20px;
}

.text1 {
    font-size: 20px;
    line-height: 26px;
}

.text2 {
    font-size: 16px;
    line-height: 24px;
}

.text3 {
    font-size: 14px;
    line-height: 18px;
}

.text4 {
    font-size: 12px;
    line-height: 16px;
}

/* Выравнивание текста */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

/* Преобразование текста */

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.normal-case {
    text-transform: none;
}

/* Переполнение текста */

/* Используйте truncate, чтобы обрезать выходящий за пределы текст многоточием ( …), если это необходимо. */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Используйте text-ellipsis, чтобы обрезать выходящий за пределы текст многоточием ( …), если это необходимо. */
.text-ellipsis {
    text-overflow: ellipsis;
}

/* Используйте text-clip, чтобы обрезать текст на границе области содержимого. */
.text-clip {
    text-overflow: clip;
}

/* Разрыв слов */
.break-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.break-words {
    overflow-wrap: break-word;
}

.break-all {
    word-break: break-all;
}

.box-border {
    box-sizing: border-box;
}

.box-content {
    box-sizing: content-box;
}

/* DISPLAY */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.table {
    display: table;
}

.inline-table {
    display: inline-table;
}

.table-caption {
    display: table-caption;
}

.table-cell {
    display: table-cell;
}

.table-column {
    display: table-column;
}

.table-column-group {
    display: table-column-group;
}

.table-footer-group {
    display: table-footer-group;
}

.table-header-group {
    display: table-header-group;
}

.dispaly-row-group {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.flow-root {
    display: flow-root;
}

.grid {
    display: grid;
}

.inline-grid {
    display: -ms-inline-grid;
    display: -moz-inline-grid;
}

.contents {
    display: contents;
}

.list-item {
    display: list-item;
}

.hidden {
    display: none;
}

/* FLOATS */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

/* CLEAR */

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}

.clear-none {
    clear: none;
}

/* OBJECT FIT */

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.object-fill {
    object-fit: fill;
}

.object-none {
    object-fit: none;
}

.object-scale-down {
    object-fit: scale-down;
}

/* OBJECT POSITION */

.object-bottom {
    object-position: bottom;
}

.object-center {
    object-position: center;
}

.object-left {
    object-position: left;
}

.object-right {
    object-position: right;
}

.object-right-bottom {
    object-position: right bottom;
}

.object-tight-top {
    object-position: right top;
}

.object-top {
    object-position: top;
}

/* OVERFLOW */

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-clip {
    overflow: clip;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-clip {
    overflow-x: clip;
}

.overflow-y-clip {
    overflow-y: clip;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

/* Overscroll Behavior */
.overscroll-auto {
    overscroll-behavior: auto;
}

.overscroll-contain {
    overscroll-behavior: contain;
}

.overscroll-none {
    overscroll-behavior: none;
}

.overscroll-y-auto {
    overscroll-behavior-y: auto;
}

.overscroll-y-contain {
    overscroll-behavior-y: contain;
}

.overscroll-y-none {
    overscroll-behavior-y: none;
}

.overscroll-x-auto {
    overscroll-behavior-x: auto;
}

.overscroll-x-contain {
    overscroll-behavior-x: contain;
}

.overscroll-x-none {
    overscroll-behavior-x: none;
}

/* POSITION */

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

/* Visibility */

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.collapse {
    visibility: collapse;
}

/* Flex Direction */

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* Flex */

.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-none {
    flex: none;
}

/* FLEX-GROW */
.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

/* Flex Shrink */

.shrink {
    flex-shrink: 1;
}

.shrink-0 {
    flex-shrink: 0;
}

.gap-0 {
    gap: 0px;
}

.gap-x-0 {
    column-gap: 0px;
}

.gap-y-0 {
    row-gap: 0px;
}

.gap-2 {
    gap: 0.125rem;
}

.gap-x-2 {
    column-gap: 0.125rem;
}

.gap-y-2 {
    row-gap: 0.125rem;
}

.gap-4 {
    gap: 0.25rem;
}

.gap-x-4 {
    column-gap: 0.25rem;
}

.gap-y-4 {
    row-gap: 0.25rem;
}


.gap-8 {
    gap: 0.5rem;
}

.gap-x-8 {
    column-gap: 0.5rem;
}

.gap-y-8 {
    row-gap: 0.5rem;
}


.gap-12 {
    gap: 0.75rem;
}

.gap-x-12 {
    column-gap: 0.75rem;
}

.gap-y-12 {
    row-gap: 0.75rem;
}


.gap-16 {
    gap: 1rem;
}

.gap-x-16 {
    column-gap: 1rem;
}

.gap-y-16 {
    row-gap: 1rem;
}

.gap-24 {
    gap: 1.5rem;
}

.gap-x-24 {
    column-gap: 1.5rem;
}

.gap-y-24 {
    row-gap: 1.5rem;
}

.gap-32 {
    gap: 2rem;
}

.gap-x-32 {
    column-gap: 2rem;
}

.gap-y-32 {
    row-gap: 2rem;
}

.gap-40 {
    gap: 2.5rem;
}

.gap-x-40 {
    column-gap: 2.5rem;
}

.gap-y-40 {
    row-gap: 2.5rem;
}

.gap-48 {
    gap: 3rem;
}

.gap-x-48 {
    column-gap: 3rem;
}

.gap-y-48 {
    row-gap: 3rem;
}

.gap-64 {
    gap: 4rem;
}

.gap-x-64 {
    column-gap: 4rem;
}

.gap-y-64 {
    row-gap: 4rem;
}

.gap-80 {
    gap: 5rem;
}

.gap-x-80 {
    column-gap: 5rem;
}

.gap-y-80 {
    row-gap: 5rem;
}

/* Justify Content */

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* Justify Items */

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

/* Justify Self */

.justify-self-auto	{
    justify-self: auto;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-stretch {
    justify-self: stretch;
}

/* Align Content */

.content-center {
    align-content: center;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-between {
    align-content: space-between;
}

.content-evenly {
    align-content: space-evenly;
}

.content-baseline {
    align-content: baseline;
}

/* Align Items */

.item-start {
    align-items: flex-start;
}

.item-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.item-baseline {
    align-items: baseline;
}

.item-stretch {
    align-items: stretch;
}

.self-auto {
    align-self: auto;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-stretch {
    align-self: stretch;
}

.self-baseline {
    align-self: baseline;
}

.p-0 {
    padding: 0px;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pt-0 {
    padding-top: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.p-2 {
    padding: 0.125rem;
}

.px-2 {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.py-2 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.pt-2 {
    padding-top: 0.125rem;
}

.pr-2 {
    padding-right: 0.125rem;
}

.pl-2 {
    padding-left: 0.125rem;
}

.pb-2 {
    padding-bottom: 0.125rem;
}

.p-4 {
    padding: 0.25rem;
}

.px-4 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.py-4 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.pt-4 {
    padding-top: 0.25rem;
}

.pl-4 {
    padding-left: 0.25rem;
}

.pr-4 {
    padding-right: 0.25rem;
}

.pb-4 {
    padding-bottom: 0.25rem;
}


.p-8 {
    padding: 0.5rem;
}

.px-8 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pt-8 {
    padding-top: 0.5rem;
}

.pl-8 {
    padding-left: 0.5rem;
}

.pr-8 {
    padding-right: 0.5rem;
}

.pb-8 {
    padding-bottom: 0.5rem;
}

.p-12 {
    padding: 0.75rem;
}

.px-12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-12 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pt-12 {
    padding-top: 0.75rem;
}

.pl-12 {
    padding-left: 0.75rem;
}

.pr-12 {
    padding-right: 0.75rem;
}

.pb-12 {
    padding-bottom: 0.75rem;
}

.p-16 {
    padding: 1rem;
}

.px-16 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.py-16 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-16 {
    padding-top: 1rem;
}

.pl-16 {
    padding-left: 1rem;
}

.pr-16 {
    padding-right: 1rem;
}

.pb-16 {
    padding-bottom: 1rem;
}

.p-24 {
    padding: 1.5rem;
}

.px-24 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pt-24 {
    padding-top: 1.5rem;
}

.pl-24 {
    padding-left: 1.5rem;
}

.pr-24 {
    padding-right: 1.5rem;
}

.pb-24 {
    padding-bottom: 1.5rem;
}

.p-32 {
    padding: 2rem;
}

.px-32 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-32 {
    padding-top: 2rem;
}

.pl-32 {
    padding-left: 2rem;
}

.pr-32 {
    padding-right: 2rem;
}

.pb-32 {
    padding-bottom: 2rem;
}

.p-40 {
    padding: 2.5rem;
}

.px-40 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.py-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.pt-40 {
    padding-top: 2.5rem;
}

.pl-40 {
    padding-left: 2.5rem;
}

.pr-40 {
    padding-right: 2.5rem;
}

.pb-40 {
    padding-bottom: 2.5rem;
}

.p-48 {
    padding: 3rem;
}

.px-48 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-48 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pt-48 {
    padding-top: 3rem;
}

.pl-48 {
    padding-left: 3rem;
}

.pr-48 {
    padding-right: 3rem;
}

.pb-48 {
    padding-bottom: 3rem;
}

.p-64 {
    padding: 4rem;
}

.px-64 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-64 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pt-64 {
    padding-top: 4rem;
}

.pl-64 {
    padding-left: 4rem;
}

.pr-64 {
    padding-right: 4rem;
}

.pb-64 {
    padding-bottom: 4rem;
}

.p-80 {
    padding: 5rem;
}

.px-80 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt-80 {
    padding-top: 5rem;
}

.pl-80 {
    padding-left: 5rem;
}

.pr-80 {
    padding-right: 5rem;
}

.pb-80 {
    padding-bottom: 5rem;
}

.m-0 {
    margin: 0px;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.m-2 {
    margin: 0.125rem;
}

.mx-2 {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.my-2 {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.mt-2 {
    margin-top: 0.125rem;
}

.mr-2 {
    margin-right: 0.125rem;
}

.ml-2 {
    margin-left: 0.125rem;
}

.mb-2 {
    margin-bottom: 0.125rem;
}

.m-4 {
    margin: 0.25rem;
}

.mx-4 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.my-4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mt-4 {
    margin-top: 0.25rem;
}

.ml-4 {
    margin-left: 0.25rem;
}

.mr-4 {
    margin-right: 0.25rem;
}

.mb-4 {
    margin-bottom: 0.25rem;
}


.m-8 {
    margin: 0.5rem;
}

.mx-8 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-8 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-8 {
    margin-top: 0.5rem;
}

.ml-8 {
    margin-left: 0.5rem;
}

.mr-8 {
    margin-right: 0.5rem;
}

.mb-8 {
    margin-bottom: 0.5rem;
}

.m-12 {
    margin: 0.75rem;
}

.mx-12 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.my-12 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.mt-12 {
    margin-top: 0.75rem;
}

.ml-12 {
    margin-left: 0.75rem;
}

.mr-12 {
    margin-right: 0.75rem;
}

.mb-12 {
    margin-bottom: 0.75rem;
}

.m-16 {
    margin: 1rem;
}

.mx-16 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.my-16 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-16 {
    margin-top: 1rem;
}

.ml-16 {
    margin-left: 1rem;
}

.mr-16 {
    margin-right: 1rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.m-24 {
    margin: 1.5rem;
}

.mx-24 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-24 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mt-24 {
    margin-top: 1.5rem;
}

.ml-24 {
    margin-left: 1.5rem;
}

.mr-24 {
    margin-right: 1.5rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.m-32 {
    margin: 2rem;
}

.mx-32 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-32 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-32 {
    margin-top: 2rem;
}

.ml-32 {
    margin-left: 2rem;
}

.mr-32 {
    margin-right: 2rem;
}

.mb-32 {
    margin-bottom: 2rem;
}

.m-40 {
    margin: 2.5rem;
}

.mx-40 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.my-40 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.mt-40 {
    margin-top: 2.5rem;
}

.ml-40 {
    margin-left: 2.5rem;
}

.mr-40 {
    margin-right: 2.5rem;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.m-48 {
    margin: 3rem;
}

.mx-48 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-48 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mt-48 {
    margin-top: 3rem;
}

.ml-48 {
    margin-left: 3rem;
}

.mr-48 {
    margin-right: 3rem;
}

.mb-48 {
    margin-bottom: 3rem;
}

.m-64 {
    margin: 4rem;
}

.mx-64 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.my-64 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mt-64 {
    margin-top: 4rem;
}

.ml-64 {
    margin-left: 4rem;
}

.mr-64 {
    margin-right: 4rem;
}

.mb-64 {
    margin-bottom: 4rem;
}

.m-80 {
    margin: 5rem;
}

.mx-80 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.my-80 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mt-80 {
    margin-top: 5rem;
}

.ml-80 {
    margin-left: 5rem;
}

.mr-80 {
    margin-right: 5rem;
}

.mb-80 {
    margin-bottom: 5rem;
}

/* LAYOTS */

.container {
    width: 1920px;
    padding-left: 184px;
    padding-right: 184px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media(min-width: 1680px)and (max-width: 1919px) {
    .container {
        width: 1680px;
        padding-left: 160px;
        padding-right: 160px;
    }
}

@media(min-width: 1440px)and (max-width: 1679px) {
    .container {
        width: 1440px;
        padding-left: 88px;
        padding-right: 88px;
    }
}

@media(min-width: 1280px)and (max-width: 1439px) {
    .container {
        width: 1280px;
        padding-left: 56px;
        padding-right: 56px;
    }
}

@media(min-width: 960px)and (max-width: 1279px) {
    .container {
       width: 960px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(min-width: 768px)and (max-width: 959px) {
    .container {
        width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(min-width: 576px)and (max-width: 767px) {
    .container {
        width: 576px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 360px)and (max-width: 575px) {
    .container {
        width: 360px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 359px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}