.nemo-icon-button {
    padding: 0;
    border-radius: 8px;
    border: 2px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nemo-icon-button--24 {
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.nemo-icon-button--32 {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.nemo-icon-button--44 {
    width: 44px;
    height: 44px;
    border-radius: 8px;
}

.nemo-icon-button--52 {
    width: 52px;
    height: 52px;
    border-radius: 12px;
}

.nemo-icon-button--round {
    border-radius: 100px;
}

.nemo-icon-button--primary {
    background: var(--constants-blue-700);
    border-color: var(--constants-blue-700);
}

.nemo-icon-button--primary .fill {
    fill: var(--constants-gray-0);
}

.nemo-icon-button--secondary {
    background: var(--constants-gray-100);
    border-color: var(--constants-gray-100);
}

.nemo-icon-button--secondary .fill {
    fill: var(--constants-gray-900);
}

.nemo-icon-button--ghost {
    background: none;
    border-color: var(--constants-gray-0);
}

.nemo-icon-button--ghost .fill {
    fill: var(--constants-gray-900);
}

.nemo-icon-button--outline {
    background: none;
    border-color: var(--constants-gray-200);
}

.nemo-icon-button--outline .fill {
    fill: var(--constants-gray-900);
}

.nemo-icon-button:hover {
    cursor: pointer;
}
